/* 1. Universal Selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Type Selector */
p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* 3. Class Selector */
.highlight {
  background-color: #21a2c9;
}

/* 4. ID Selector */
#header {
  background-color: #860303;
}

/* 5. Attribute Selector */
input[type="text"] {
  border: 2px solid #21a2c9;
}

/* 6. Descendant Selector */
article p {
  font-style: italic;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
}

/* 7. Child Selector */
div > p {
  background-color: #880404;
}

/* 8. Adjacent Sibling Selector */
h1 + p {
  font-weight: bold;
}

/* 9. General Sibling Selector */
h2 ~ p {
  color: #860303;
}

/* 10. Pseudo-class Selector */

a:hover {
  background-color: #14a50e;
  text-decoration: none;
  color: #1a1a1a;
  padding: 5px;
  margin: 4px;
}

/* 11. Pseudo-element Selector */
p::first-letter {
  font-weight: bold;
  font-size: 30px;
}

/* 12. Grouping Selector */

h1,
h2,
h3 {
  color: orange;
}
